/* ===================== CSS ===================== */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');

/* ============= Body ============= */

body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  height: 100vh;
  width: 100%;
}

/* ============= Header/Title/Navbar ============= */


.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding-left: 80px;
  padding-right: 80px;

}

.title_image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 90px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.title_image img {
  width: 400px;
  height: 90px;
  object-fit: contain;
}

.fa-solid {
  margin-top: 50px;
  padding-left: 13px;
  padding-right: 13px;
  color: #2d4063;
}

.navbarLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  padding: 3px;
  font-family: 'Preahvihear', sans-serif;
  font-weight: 200;
  background-color: #DADAE7;
  color: #25283D;
}

.navbarLinks a {
  text-decoration: none;
  color: black;
  white-space: nowrap;
}

.navbarLinks a:hover {
  opacity: 0.7;
}

/* ============= Hamburger Menu ============= */

/* burger background square */
.burger {
  height: 100px;
  width: 50px;
  scale: 0.5;
  /* background-color: white; */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition: 0.3s ease;
}

.burger-menu {
  height: 50px;
  /* width: 4em; */
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}

/* burger lines */
.burger-bar {
  width: 55px;
  height: 0.5em;
  background-color: #2d4063;
  border-radius: 0.5em;
}

.menu {
  width: 100vw;
  margin-top: 100px;
  height: 100vh;
  background-color: white;
  top: 0;
  z-index: 1;
  position: fixed;
}

/* sliding menu */
.menu.hidden {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-out;
}

.menu.visible {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s ease-in;
}

.links-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Preahvihear', sans-serif;
  margin-top: 80px;
  margin-left: 20px;
  font-size: 20px;

}

.links-menu a {
  padding-bottom: 20px;
  text-decoration: none;
  color: #25283D;
  font-size: 25px;
  transition: 0.4s ease;
}

.links-menu a:hover {
  opacity: 0.6;
}

/* animations */
/* clicked */
.burger-bar.clicked:nth-child(1) {
  transform: rotate(45deg) translate(0.80em, 1.28em);
  transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2) {
  transform: scale(0.1);
  transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3) {
  transform: rotate(135deg) translate(-0.5em, 1.1em);
  transition: ease-out 0.5s;
}

/* animations */
/* hover */
.burger:hover {
  opacity: 0.6;
}

/* unclicked */
.burger-bar.unclicked {
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
  transition: ease-out 0.5s;
}

/* ======================= Home Page/Posts =======================*/

.home_image img {
  width: 100%;
  height: 480px;
  object-fit: cover;
}

.posts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  flex: 1 1 auto;
  font-family: 'Preahvihear', sans-serif;
  font-size: 12px;
  margin-left: 15px;
  margin-right: 15px;
}


.post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  width: 230px;
  height: 245px;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.post img {
  max-width: 180px;
  max-height: 130px;
  width: auto;
  height: auto;
  margin: 5px;
  padding: 5px;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.4s ease;
}

.post img:hover {
  opacity: 0.6;
}

.potInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.potName a {
  color: #1f2029;
  font-family: 'Preahvihear', sans-serif;
  font-size: 15px;
  text-decoration: none;
  transition: 0.4s ease;
}

.potName a:hover {
  opacity: 0.5;
}

.potPrice {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
  font-size: 13px;
  align-items: end;
}

/* ======================= Single Item page =======================*/

.singlepage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  font-family: 'Preahvihear', sans-serif;
}

.singlepage h1 {
  font-size: 30px;
  text-align: left;
  height: 90px;
}

.potListingName {
  font-size: 30px;
  display: flex;
  text-align: left;
  padding-top: 0px;
  height: 100px;
}

.potListingPrice {
  font-size: 20px;
  text-align: left;
}

.potListingStock {
  font-size: 15px;
  text-align: left;
}

.singlesquare {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  width: 400px;
  height: 400px;
  border-radius: 10px;
}

.singlesquare img {
  object-fit: contain;
}

.potListingInfo {
  width: 600px;
  flex-direction: column;
}

.singlepot img {
  object-fit: cover;
  border-radius: 15px;
  object-fit: contain;
}

/* not reviewed */
.singlepage form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
}

.qtyandaddtocart {
  font-size: 15px;
  text-align: left;
}

.qty {
  margin-bottom: 8px;
}

.addtocart {
  width: 40%;
  height: 40px;
  border: 1px solid;
  background: #9AC19D;
  border-radius: 5px;
  font-size: 14px;
  color: #DADAE7;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Preahvihear', sans-serif;
}

.addtocart a {
  text-decoration: none;
  color: black;
}

.addtocart:hover {
  opacity: 0.7;
}

/* not reviewed */
.deletebtn {
  text-align: center;
  width: 100px;
  height: 40px;
  border: 1px solid;
  background: rgb(255, 53, 53);
  border-radius: 25px;
  font-size: 14px;
  color: white;
  cursor: pointer;
  margin-bottom: 5px;
}

/* not reviewed */
.editbtn {
  text-align: center;
  border-radius: 50%;
  float: right;
  height: 23px;
  height: 23px;
  margin-right: 10px;
}

/* not reviewed */
.editanddelete {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
}

/* not reviewed */
.editanddelete div {
  padding-right: 5px;
  padding-left: 5px;
}

/* not reviewed anything else in this file below this line */
/* ======================= Shopping Cart page =======================*/
.cartpage {
  border: solid 1px silver;
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 80px auto;
  padding: 15px;
  border-radius: 6px;
  background-color: silver;
}

.cartpage input {
  font-size: 16px;
  width: 90%
}

.cartpage input::placeholder {
  text-align: center;
}

.cartpage a {
  text-decoration: none;
  color: white;
}

.border {
  padding: 80px
}

.shopping-cart {
  margin-top: 200px;
  width: 750px;
  height: 250px;
  margin: 40px auto;
  background: #ffffff;
  /* box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10); */
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  border: 1px solid silver;
}

.title2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 25px;
}

.temp {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.item {
  padding: 20px 30px;
  height: 120px;
  display: flex;
}

.buttons {
  margin-right: 55px;
  padding-top: 110px;
  cursor: pointer;
}

.item h2 {
  font-size: 30px;
  /* padding-top: 120px; */
  color: red;
  cursor: pointer;
  border-right: #666666 solid 1px;

}

.item h2:hover {
  animation: bounce 1s;
}

@keyframes bounce {

  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.buttons h2 {
  /* border: 1px solid red; */
  padding: 5px;
  /* border-radius: 50%; */
}

.quantity {
  margin-left: 25px;
  padding-top: 155px;
}

.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

.total-price {
  font-size: 20px;
  text-align: center;
  padding-top: 150px;
  padding-left: 25px;
}

.checkout-btn {
  width: 50%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  margin-bottom: 15px;
  margin-top: 15px;
}



/* ======================= Login & Signup page =======================*/

.login_signup {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.login_signup_page {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  font-family: 'Preahvihear', sans-serif;
  width: 400px;
}

/* don't change name below; login field */
form .txt_field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

.txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
}

.txt_field span::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}

.txt_field input:focus~label,
.txt_field input:valid~label {
  top: -5px;
  color: #2691d9
}

.txt_field input:focus~span::before,
.txt_field input:valid~span::before {
  width: 100%;
}

.login_signup_button {
  font-family: 'Preahvihear', sans-serif;
  width: 40%;
  height: 40px;
  border: 1px solid;
  background: #9AC19D;
  border-radius: 5px;
  font-size: 14px;
  color: #DADAE7;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  transition: 0.4s ease;
}

.login_signup_button li {
  color: black;
  list-style-type: none
}

.login_signup_button:hover {
  opacity: 0.7;
}

.signup_link {
  margin: 30px;
  text-align: center;
  font-size: 16px;
  color: #666666;
}

.signup_link a {
  color: #2691d9;
  text-decoration: none;
}

.signup_link a:hover {
  text-decoration: underline;
}

/* ======================= About page =======================*/

.aboutpage {
  font-family: Inter;
  font-weight: 200;
}

.abouttext h1 {
  font-family: Inter;
  font-weight: 400;
}

.abouttext {
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: Inter;
  font-weight: 400;
}

hr {
  width: 445px;
  height: 2px;
  margin-bottom: 5px;
  border: none;
  background-color: #353746;
}

.smalltext {
  font-size: 15px;
}

/* ======================= MOTD page =======================*/

.MOTMDEAL {
  padding-top: 145px;
  text-align: center;
  font-weight: 400;
}

.gallery h3 {
  text-align: center;
  font-size: 25px;
  margin: 0;
  padding: 0 0 20px 0;
  /* padding-top: 10px; */
  border-bottom: 1px solid silver;
}

.gallery h6 {
  text-align: center;
  font-size: 20px;
  padding-top: 0px;
}

.gallery a {
  text-decoration: none;
}

.gallery {
  display: flex;
  width: 400px;
  /* border: 1px solid silver; */
  /* border-radius: 10px; */
  text-align: center;
  margin: auto;
  /* justify-content: center; */
}

.gallery p {
  padding: 15px;
}

.content {
  border: 1px solid silver;
  border-radius: 10px;
}

.MOTM {
  width: 370px;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;

}

.gallery ul {
  list-style: none;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding-left: 0;
}

.inputMOTM {
  width: 90%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  margin-bottom: 15px;
}

/* ======================= Create page =======================*/
.createpage {
  font-family: 'Preahvihear', sans-serif;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

input::file-selector-button {
  color: black;
  font-family: 'Preahvihear', sans-serif;
  width: 40%;
  height: 40px;
  border: 1px solid;
  background: #9AC19D;
  border-radius: 5px;
  font-size: 14px;
  border-color: #DADAE7;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  transition: 0.4s ease;
  color: black;
}

input::file-selector-button:hover {
  opacity: 0.7;
}

input[type='file'] {
  color: transparent;
  width: 200px;
}

.createsquare {
  font-family: 'Preahvihear', sans-serif;
  background-color: #f5f5f5;
  width: 550px;
  /* height: 400px; */
  border-radius: 10px;
}

.createform form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px;
  box-sizing: border-box;
}

.createform input,
.createform select {
  width: 100%;
}

.createform h1 {
  font-family: 'Preahvihear', sans-serif;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  justify-content: left;
}

.createform h2 {
  font-size: 15px;
  margin: 0px;
}


/* =================== end of Create page ====================*/

/* ======================= error page =======================*/

.Error-gif {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;

}

/* =================== end of error page ====================*/

/* ======================= footer =======================*/

.social-footer {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  background-color: white;
  font-family: 'Preahvihear', sans-serif;
  color: #1f2029;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer {
  padding: 20px 0;
}

.footer .social {
  padding-bottom: 15px;
}

.fa {
  display: inline-block;
  font-size: 18px;
  line-height: 35px;
  width: 35px;
  height: 35px;
  border-radius: 36px;
  background-color: #222222;
  color: #fff;
  margin: 0 3px 3px 0;
}

.fa-facebook {
  margin-left: 5px;
  margin-right: 5px;
  background: #3B5998;
  color: white;
  transition: 0.3s ease;
}

.fa-twitter {
  margin-left: 5px;
  margin-right: 5px;
  background: #55ACEE;
  color: white;
  transition: 0.3s ease;
}

.fa-instagram {
  margin-left: 5px;
  margin-right: 5px;
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
  transition: 0.3s ease;
}

/* other instagram style:
.fa-instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
*/


.fa:hover {
  opacity: 0.7;
}

.footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;

}

.footer ul li a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
  transition: 0.3s ease;
}

.footer ul li {
  display: inline-block;
  padding: 0 25px;
}

.footer ul li a:hover {
  opacity: 0.5;
}

/* =================== end of footer ====================*/
.spacer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  border: solid silver 1px;
  padding: 20px;
  border-radius: 10px;
  width: 600px;
  background-color: silver;

}

.App h1 {
  font-size: 50px;
}

.App input {
  width: 90%;
  margin-left: 20px;
}

.App label {
  margin-left: 20px;
}

.inputMOTM3 {
  width: 90%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: white;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  margin-top: 20px;
}

.checkbox {
  margin-left: 40px;
}